*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-weight: 400;
    background-color: rgb(138, 140, 143);
    padding: 10px;
    font-size: 1.5rem;
    color: #f5f5f5;
}

.homepage{
    margin-top: 10px;
    padding: 24px 30px;
}

.grafic{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
}

.grafic .grafic-02{
    margin: auto;
}

.filter_dates{
    width: 100%;
    display: inline-block;
}